/**
 * comment
 */
.xcomment-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(./xcomment.png);
    background-repeat: no-repeat;
}
.xcomment-icon-dot {
    background-position: -10px -280px;
}
.xcomment-icon-prize {
    background-position: -10px -22px;
    vertical-align: text-bottom;
}
.xcomment-relative {
    position: relative;
}
.xcomment-separation {
    position: relative;
    height: 1px;
    margin: 40px 0 40px 0;
    font-size: 12px;
    text-align: center;
    background-color: #e5e9ef;
}
.xcomment-separation span {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 200px;
    height: 20px;
    line-height: 20px;
    margin-left: -100px;
    color: #00a1d6;
    background-color: #fff;
}


/**
 * form
 */
.xcomment-form {
    padding-top: 20px;
}
.xcomment-form-face {
    position: absolute;
    top: 30px;
    left: 0;
}
.xcomment-form-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.xcomment-form-content {
    margin-left: 70px;
}
.xcomment-form-content-login {
    color: #555;
    width: 100%;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 12px;
    background-color: #e5e9ef;
    border-radius: 4px;
}
.xcomment-form-content-login a {
    color: #00a1d6;
    text-decoration: none;
}
.xcomment-form-textarea {
    display: block;
    width: 100%;
    height: 68px;
    padding: 5px 10px;
    overflow: auto;
    box-sizing: border-box;
    color: #555;
    font-size: 12px;
    border: 1px solid #e5e9ef;
    background-color: #f4f5f7;
    resize: none;
    outline: 0;
    border-radius: 4px;
}
.xcomment-form-textarea.error {
    border-color: #e40c0c;
    background-color: #fff;
}
.xcomment-form-textarea:focus,
.xcomment-form-textarea:hover {
    border-color: #00a1d6;
    background-color: #fff;
}
.xcomment-form-widget {
    height: 30px;
    margin-top: 5px;
    margin-left: 70px;
    color: #99a2aa;
    font-size: 12px;
}
.xcomment-form-widget a {
    text-decoration: none;
}
.xcomment-form-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    height: 30px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #00a1d6;
    background-color: #00a1d6;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
}
.xcomment-form-btn:hover {
    background-color: #00b5e5;
    border-color: #00b5e5;
}
.xcomment-form-btn[disabled="disabled"] {
    background-color: #e5e9ef;
    border-color: #e5e9ef;
    color: #b8c0cc;
    cursor: default;
}
.xcomment-form-widget-item {
    display: inline-block;
    height: 26px;
    line-height: 24px;
    color: #99a2aa;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
}
.xcomment-form-widget-item:hover {
    background-color: #e5e9ef;
}
.xcomment-form-pop {
    position: absolute;
    z-index: 12;
    top: 32px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccd0d7;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-radius: 6px;
}
.xcomment-form-pop:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 25px;
    width: 12px;
    height: 10px;
    background: url(./xcomment.png) no-repeat -12px -456px;
}


/* emoji */
.xcomment-form-widget-emoji {
    background: url(./xcomment.png) no-repeat -6px -340px;
    padding-left: 26px;
}
.xcomment-form-widget-emoji-wrapper {
    width: 380px;
}
.xcomment-form-widget-emoji-title {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 12px 5px 12px;
}
.xcomment-form-widget-emoji-footer {
    position: relative;
    height: 38px;
    line-height: 38px;
    background-color: #f4f5f7;
    overflow: hidden;
    border-radius: 6px;
}
.xcomment-form-widget-emoji-footer a {
    display: inline-block;
    width: 60px;
    color: #111;
    text-align: center;
}
.xcomment-form-widget-emoji-footer a.active {
    background-color: #fff;
}
.xcomment-form-widget-emoji-content {
    height: 150px;
    margin: 0 12px 0 12px;
    overflow: auto;
}
.xcomment-form-widget-emoji-content a {
    display: inline-block;
    padding: 5px 6px;
    margin: 3px 3px;
    color: #111;
    text-decoration: none;
    transition: background-color .2s;
    border-radius: 4px;
}
.xcomment-form-widget-emoji-content a:hover {
    background-color: #ddd;
}


/**
 * comment list
 */
@keyframes rotateAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.xcomment-list-loading {
    padding: 10px 0;
    text-align: center;
}
.xcomment-list-loading i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent url(./loading.png) no-repeat 0 0;
    animation: rotateAnimation 1s linear infinite;
}
/* list header */
.xcomment-list-header {
    border-bottom: 1px solid #e5e9ef;
}
.xcomment-list-header a {
    display: inline-block;
    margin-right: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.xcomment-list-header a.active,
.xcomment-list-header a:hover {
    color: #00a1d6;
    border-bottom-color: #00a1d6;
}
.xcomment-list-item {
    margin-top: 20px;
}
.xcomment-list-face {
    position: absolute;
    top: 5px;
    left: 0;
}
.xcomment-list-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.xcomment-list-content {
    margin-left: 70px;    
}
.xcomment-list-content-toplayer {
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e9ef;
}
.xcomment-list-nick {
    font-size: 12px;
    line-height: 26px;
}
.xcomment-list-nick a {
    color: #6d757a;
    font-weight: bold;
    text-decoration: none;
}
.xcomment-list-text {
    line-height: 22px;
    font-size: 14px;
}
.xcomment-list-widget {
    position: relative;
    color: #99a2aa;
    margin-top: 5px;
    line-height: 26px;
    font-size: 12px;
}
.xcomment-list-widget a {
    color: #99a2aa;
    text-decoration: none;
}
.xcomment-list-widget-margin {
    margin-right: 20px;
}
.xcomment-list-operation {
    position: absolute;
    top: 3px;
    right: 0;
    width: 18px;
    height: 18px;
}
.xcomment-list-operation:hover .xcomment-icon-dot {
    cursor: pointer;
    background-position: -75px -280px;
}
.xcomment-list-operation:hover .xcomment-list-operation-drop {
    display: block;
}
.xcomment-list-operation-drop {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 16px;
    width: 100px;
    padding: 10px 0;
    color: #222;
    font-size: 14px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    display: none;
}
.xcomment-list-operation-drop-item {
    display: block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    color: #000;
    transition: color, background-color .2s;
}
.xcomment-list-operation-drop-item:hover {
    color: #00a1d6;
    background-color: #e5e9ef;
}
.xcomment-list-widget-prize {
    cursor: pointer;
}
.xcomment-list-widget-prize:hover .xcomment-icon-prize,
.xcomment-list-widget-prize[data-liked="1"] .xcomment-icon-prize {
    background-position: -10px -86px;
}
.xcomment-list-btn {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}
.xcomment-list-btn:hover {
    color: #00a1d6;
    background-color: #e5e9ef;
}



/* reply */
.xcomment-list-reply {
    margin-left: 70px;
}
.xcomment-list-reply-item {
    margin-top: 10px;
}
.xcomment-list-reply-face {
    left: 0;
}
.xcomment-list-reply-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.xcomment-list-content-reply {
    margin-left: 50px;
}
.xcomment-list-reply-text {
    font-weight: normal;
}
.xcomment-list-reply-widget .xcomment-icon-dot {
    display: none;
}
.xcomment-list-reply-widget:hover .xcomment-icon-dot {
    display: block;
}
